---
import { getCollection } from 'astro:content';
const files = await getCollection('files');
const sortedPosts = files.sort(
  (a, b) =>
    new Date(b.data.lastUpdated).getTime() -
    new Date(a.data.lastUpdated).getTime()
);

function formatMonthYear(dateStr: string) {
  const date = new Date(dateStr);
  return `${String(date.getMonth() + 1).padStart(2, '0')}/${date.getFullYear()}`;
}

import { Button } from '@/components/starwind/button';
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from '@/components/starwind/accordion';
import { Badge } from '@/components/starwind/badge';
---

<div id="container" class="bg-white text-neutral-800">
  <div
    class="flex items-start justify-between bg-linear-to-r from-green-900 to-green-700 p-6 text-white/95"
  >
    <div>
      <div class="flex">
        <div class="text-7xl mt-6 mb-8 font-bold tracking-tighter">
          <!-- <span class="text-green-300">✺</span>  -->
          BA Templates
        </div>
      </div>
      <div class="max-w-5xl text-2xl mb-8 leading-normal font-normal">
        Sammlung bewährter Vorlagen für Business Analyse, UX-Methoden und
        projektbezogene Dokumentation. Downloaden und sofort loslegen
        praxisorientiert und direkt anwendbar. <br /> Downloaden und sofort loslegen
        praxisorientiert und direkt anwendbar.
      </div>
      <div class="mb-12 text-sm text-white/75">
        © 2025 Marcel Ramseyer · Feedback per <span
          class="underline underline-offset-3">E-Mail</span
        > · Letzte Aktualisierung: 20.04.2025
      </div>
    </div>
    <div class="flex mt-5">
      <!-- <div class="text-7xl leading-19 text-center border-r w-20 h-20">✻</div>
      <div class="p-3 text-xs max-w-sm leading-normal">
        BA Templates erstellt und gepflegt von Marcel Ramseyer. Feeback
        jederzeit gerne per <span class="underline">E-Mail</span>. Der Code ist
        auf <span class="underline">GitHub</span> verfügbar. Letzte Aktualisierung:
        20.04.2025.
      </div> -->
    </div>
  </div>
  <div>
    <Accordion class="">
      {
        sortedPosts.map((file: any, index: number) => {
          const newIndex = index + 1;
          const formattedIndex = String(newIndex).padStart(3, '0');
          return (
            <AccordionItem value="item-1">
              <AccordionTrigger class="text-xl">
                <div class="flex w-full">
                  <div class="w-1/8 pl-6">{formattedIndex}</div>
                  <div class="w-3/8">{file.data.title}</div>
                  <div class="flex gap-2">
                    <Badge href="#link" variant="outline" size="sm">
                      {file.data.fileFormat}
                    </Badge>
                    <Badge href="#link" variant="outline" size="sm">
                      {file.data.category}
                    </Badge>
                    <Badge href="#link" variant="outline" size="sm">
                      {/* {new Date(file.data.lastUpdated).toLocaleDateString(
                        'de-DE',
                        {
                          month: '2-digit',
                          year: 'numeric',
                          day: '2-digit',
                        }
                      )} */}
                      {formatMonthYear(file.data.lastUpdated)}
                    </Badge>
                  </div>
                </div>
              </AccordionTrigger>
              <AccordionContent>
                <div class="flex w-full">
                  <div class="w-[173px] pl-6" />
                  <div class="w-7/8 pr-6">
                    <div class="max-w-xl text-sm leading-normal mt-4">
                      {file.data.description}
                    </div>
                    <Button
                      variant="outline"
                      class="rounded-full mt-6 mb-6 font-normal text-sm"
                    >
                      <a href="https://www.dropbox.com/scl/fi/80ok47j6ji01eidjs4pxe/UAT-Template.xlsx?rlkey=smadsrhk6pk76c2nzqv97z146&st=m7cqo6hr&dl=1">
                        ↓ Download
                      </a>
                    </Button>
                  </div>
                </div>
              </AccordionContent>
            </AccordionItem>
          );
        })
      }
    </Accordion>
  </div>
</div>

<style>
  #container {
    font-family:
      Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial,
      sans-serif;
  }
</style>
